@model List<GetMessageViewModel>
@{
    ViewData["Title"] = "ListMessages";
}

<h1>Gelen Mesajlar</h1>

@foreach (var item in Model)
{

    if (item.ViewDate != null)
    {
        <a class="btn btn-light d-flex justify-content-between align-items-center" asp-area="" asp-controller="Message" asp-action="GetMessageDetail" asp-route-messageId="@item.MessageId">
            <div>Gönderen Kişi:@item.SenderUserName</div>
            <div>Gönderilme Tarihi:@item.CreateDate</div>
        </a>
    }
    else
    {
        <a class="btn btn-info d-flex justify-content-between align-items-center" asp-area="" asp-controller="Message" asp-action="GetMessageDetail" asp-route-messageId="@item.MessageId">
            <div>Gönderen Kişi:@item.SenderUserName</div>
            <div>Gönderilme Tarihi:@item.CreateDate</div>
        </a>
    }

}



@section Scripts
{
    <script type="text/javascript">

    </script>
}